@tailwind base;
@tailwind components;
@tailwind utilities;

.nextuidropdown:hover {
    background-color: transparent !important;
    cursor: default !important;
}

.novedad:hover {
    background-color: gray !important;
    cursor: pointer !important;
}